<!DOCTYPE html>
<html>
<head>
   <link rel = "stylesheet" href = "/stylesheets/syles.css">
</head>
<body>
<header>
<div class = "header">
     <h1>THE</h1>
     <p>RecruitBot</p>
</div>
</header>

<div class="box">
<iframe
    allow="microphone;"
    frameborder="0"
    width="30%"
    scrolling="no"
    height="700"
     padding:"4px"
    align="left"
    src="https://console.dialogflow.com/api-client/demo/embedded/99272d81-c832-484e-9a4c-c8636b5662a7">
</iframe>
</div>


<div class ="box">
    <form method="post">
    <input type = "submit" name="Excel" value= "Excel"/>
    </form>
</div>

<div class ="box">
    <form method="post">
    <input type = "submit" name="Coding" value= "Coding"/>
    </form>
</div>

</body>
</html>
